<footer>
    <div class="r-info"
        style="display: flex; height: 8rem; background-color: #ebebeb; flex-wrap: wrap; justify-content: center; align-items: center; text-align: center;">
     
        <!-- SOCIAL MEDIA LOGO -->
        <div class="f-info-socials"
            style="width: 100%; vertical-align: middle ; align-items: center; justify-content: center;">
            <i class="fa-brands fa-facebook" style="margin-right: 1rem; font-size:1.2rem ;"></i>
            <i class="fa-brands fa-instagram" style="margin-right: 1rem; font-size:1.2rem ;"></i>
            <i class="fa-brands fa-linkedin" style="margin-right: 1rem; font-size:1.2rem ;"></i>
        </div>

        <!-- OTHERS -->
        <div class="brand" style="width: 100%; vertical-align: middle ; align-items: center; justify-content: center;">
            &copy; Wanderlust Private Limited</div>
        <div class="f-info-links" style="text-decoration: none; color: black; width: 100%;  vertical-align: middle ;">
            <a href="/privac y">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>